{% extends 'master.html' %}
{% load static %}
{% block content %}
  <img src="{% static 'images/car5.jpg' %}" style="height:500px" class="d-block w-100">
      
  <div class="container-fluid ">
    <h1  class="text-dark text-center">About Parking</h1>
    
    <p class =" text-center  ">Parking is the act of stopping and disengaging a vehicle and leaving it unoccupied. Parking on one or both sides of a road is often permitted, though sometimes with restrictions. Some buildings have parking facilities for use of the buildings' users. Countries and local governments have rules for design and use of parking spaces .</p>
   
    <ul>
       <h4 class = " text-center text-primary ">Parking Rules </h4>
    <li>
      In the no parking zone or places in which parking is prohibited
    </li>
    <li> On footpaths or far away from the footpaths </li>
    <li> On private properties without the owner’s consent</li>
    <li>On the main road or roads with high-speed traffic</li>
    <li>On the wrong side of the road</li>
    <li>On the path that has unbroken white lines in the centre</li>
    <li>In front of the entrance of any premises</li>
    <li>Near bus stops, schools, or hospital entrances</li>
    <li>In front of any road signs that could possibly be obstructed with your vehicle</li>
    <li>Near road crossings, a bend, top of a hill, or near/and on the bridge</li>
    <li>Near any traffic signal or pedestrian crossings </li>
  </ul>
    
    <h3 class="text-center text-primary ">  No Parking Fines in India</h3>
   <br>
    <p class="ms-5" >If you happen to park your vehicle in any manner, as stated above, you will have to pay the penalty. As a matter of fact, parking fines are different in different Indian cities. The heftiest fines are imposed in metropolitan cities such as Mumbai, Bangalore, and Delhi NCR.

 <br>
<br>
      The parking fines in New Delhi begin at INR 500 if you park illegally or obstructively. Moreover, if your vehicle is towed, you are liable to pay the towing charges as well, which range between INR 200 and INR 2000 (depending on your vehicle). In Bangalore, parking in a ‘no parking’ area has fines starting from INR 1000.
      <br>
       
      <br>
      In Mumbai city, the BMC has announced that parking-related penalties will be ranging between INR 5000 and INR 8300 for two-wheelers. The same goes up to INR 11,000 to INR 17,600 for medium vehicles, INR 10,000 to INR 15,100 for light motors, and INR 8000 to INR 12,200 for three-wheelers. Also, you will be liable to pay late payment charges over and above the existing penalty rates.</p>
    
      <h3 class="text-center text-primary ">Why the huge fine </h3>
      <br>
      
      <p class="ms-5">
        Illegal parking is a contentious issue, and BMC has been fining people rather proactively since the implementation of this rule. Parking woes in cities like Mumbai are several. According to the Regional Transport Office (RTO) figures, there are over 32 lakh vehicles in the city. This is bound to create chaos when all these vehicles ply on the roads: most people park their vehicles along footpaths and roadside causing huge obstruction to pedestrians and other motorists. 

        <br>
        <br>

        This penalty will also help to generate awareness about the actual parking spaces. BMC has Public Parking Lots but they are not used either due to lack of awareness or people want to save time and money by illegally parking on roadside rather than going to PPLs.
        
        <br>
        <br>
          
        As per the notice, the implementation of the new rules started initially around the dense traffic areas and localities having sufficient alternative parking facilities and gradually the new parking rules extended to all other areas of the city. 
        
        <br>
        <br>
        
        You should know section 177 of motor vehicle act to understand the fines that can be levied on you and your vehicle.
        
        <br>
        <br>
        
        Summarily, here’s what you need to know: any vehicles found parked within 500 meters of public parking lots (PPL) and 20 designated BESTS depots in the city, will be slapped with a fine. The rule has been introduced to deter people who tend to park their vehicles on roads rather than using the available parking lots. Or those who leave their vehicles in unauthorized spaces. This is a menace because such congestion can trigger an insane traffic jam. A vehicle in violation will also be towed away, and the driver will be slapped with a monumental fine, with a separate penalty for late payment.
      </p>
  </div>
{% endblock %}