{% extends 'master.html' %}
{% load static %}
{% block content %}
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
    </div>
  
    <!-- The slideshow/carousel -->
    
  
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
  <!--Section: Contact v.2-->
<section class="mb-4">
<br>
<br>
<br>
<br>
<br>
  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
      a matter of hours to help you.</p>

  <div class="row">

      <!--Grid column-->
      <center>
      <div class="col-md-9 mb-md-0 mb-5 p-5 text-left">
          <form id="contact-form" name="contact-form" action="mail.php" method="POST">

              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6">
                      <div class="md-form mb-0">
                        <label for="name" class="">Your name</label>
                          <input type="text" id="name" name="name" class="form-control">
                         
                      </div>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-6">
                      <div class="md-form mb-3">
                        <label for="email" class="">Your email</label>
                          <input type="text" id="email" name="email" class="form-control">
                          
                      </div>
                  </div>
                  <!--Grid column-->

              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">
                  <div class="col-md-12">
                      <div class="md-form mb-0">
                            <label for="subject" class="">Subject</label><input type="text" id="subject" name="subject" class="form-control">
                        
                      </div>
                  </div>
              </div>
              <!--Grid row-->
<br>
              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-20">

                      <div class="md-form">
                         <label for="message">Your message</label> <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                          
                      </div>

                  </div>
              </div>
              <!--Grid row-->

          </form>
<br>
          <div class="text-center text-md-left">
              <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
          </div>
          <div class="status"></div>
      </div>
    </center>
      <!--Grid column-->

      <!--Grid column-->
      
      <!--Grid column-->

  </div>

</section>
<!--Section: Contact v.2-->
{% endblock %}