{% extends 'master.html' %}
{% load static %}
{% block content %}
<script type="text/javascript">
  $(document).ready(function(){
   $("#btnlogin").click(function(){
      var uname=$("#txtuname").val();
      var psw=$("#txtpsw").val();
      $.ajax({
       method:"post",
       url: "/myuser/login/",
       data:{'csrfmiddlewaretoken':'{{csrf_token}}','uname':uname,'psw':psw},
       success:function(result){
           if(result==="Valid User"){
               alert("Logged In Successfully!");
               window.location="/";
           }
           else{
               alert(result);
           }
           
       }
       });
   });
});
</script>
 <br>
 <br>
 <br>
      
      
  <div class="container-fluid text-center ">
    <div class="row">
      <br>
      <div class="col-md-6 mt-5"><img src="{% static 'images/login.webp' %}" /></div>
      <div class="col-md-6">
        <br>
        <br>
        <br>
        
        <h1 class="text-danger mt-5">Login Here</h1>
   
        <div class="form-group d-flex flex-row align-items-center mb-4">
          
          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
            
            <input type="text" class="form-control" id="txtuname" />
        </div>
        <div class="form-group d-flex flex-row align-items-center mb-4">
          
          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
          <input type="text" class="form-control" id="txtpsw" />
        </div>
        <br/>
        <div class="form-group">
          <button id="btnlogin" class="btn btn-danger">Login</button>
      </div>
      </div>
    </div>

  </div>
{% endblock %}