{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> online Parking</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Latest compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="{% static 'css/park.css' %}" rel="stylesheet" />
</head>
<body   >
    <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="{% static 'images/image.png' %}"alt="Parking Zone" style="width:50px;   font-size: 42px;" class="rounded-pill"> 
          </a>
        </div>
      </nav>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-middle " id="collapsibleNavbar">
        <ul class="navbar-nav ">
          <li class="nav-item ">
            <a class="nav-link text-white " href="/"><b>Home</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/about"><b>About</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/viewparking"><b>Book Parking</b></a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" href="/contact"><b>Contact</b></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle float-left  text-white" href="#" role="button" data-bs-toggle="dropdown"><b>Accounts</b></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">{{name}}</a></li>
              <li><a class="dropdown-item" href="/mybooking">View Booking</a></li>
              <li><a class="dropdown-item" href="/{{login}}">{{login}}</a></li>
              <li><a class="dropdown-item" href="/signup">signup</a></li>

            </ul>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  
  {% block content %}
  {% endblock %}
        

    
  <footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between bg-warning p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block divnavc">
        <span><b>Get connected with Admin's social networks: </b></span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="https://www.facebook.com/ritik.gaming.71" class="me-4 text-reset ">
          <i class="fab fa-facebook-f" style="color: #3b5998;"></i>
        </a>
        <a href="https://twitter.com/ErRitikpal " class="me-4 text-reset">
          <i class="fab fa-twitter" style="color: #55acee;"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-youtube" style="color: #dd4b39;"></i>
        </a>
        <a href="https://www.instagram.com/iamritikpal_/" class="me-4 text-reset">
          <i class="fab fa-instagram" style="color: #ac2bac;"></i>
        </a>
        <a href="https://www.linkedin.com/in/ritik-pal-3ab52922a/" class="me-4 text-reset">
          <i class="fab  fa-linkedin" style="color: #0082ca;"></i>
        </a>
        <a href="https://github.com/ritikpal1122" class="me-4 text-reset ">
          <i class="fab fa-github" style="color: #333333;"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-user  me-3"></i>About Admin
            </h6>
            <p>
              Hey I'm Ritik Pal Currently Persuing 
              B.tech In <b>Information Technology</b> Branch 
              From SR GROUP OF INSTITUTIONS, BKT Lucknow , Uttar Pradesh
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Team Member
            </h6>
            <p>
              Ritik Pal
            </p>
            <p>
              Rishikant Yadav
            </p>
            <p>
              Salman Khan
            </p>

          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
             Our Features
            </h6>
            <p>
              <a href="#!" class="text-reset">Company</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Blog</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Carriers</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Madiyaon,Lucknow 226021, India</p>
            <p>
              <i href="mail" class="fas fa-envelope me-3"></i>
              er.ritikpal@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +91 8303690591</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="">ritikpal@webpage</a>
    </div>
    <!-- Copyright -->

     
   </footer>



        </body>
</html>
